#themes
	padding 70px 0 360px
	background-color:  #FEE7E6;
	@media screen and (max-width 991px)
		padding 90px 0
	@media screen and (max-width 560px)
		padding 60px 0
.themes-img
	position absolute
	right 50px
	bottom -290px
	display block
	width 100%
	max-width 453px
	@media screen and (max-width 991px)
		position: static
		margin 40px auto 0