@import 'base/1-fonts'

@import '../_css/bootstrap.min.css'
@import '../_css/flipclock.min.css'

@import 'base/2-base-0'
@import 'base/2-base-c'
@import 'base/3-header'

@import 'course/1-main'
@import 'course/2-themes'
@import 'course/3-about'
@import 'course/4-prices'
@import 'main/7-author'
@import 'main/9-last'
.button-mobile
	position fixed
	z-index 80
	bottom 20px
	left 0
	right 0
	display none
	width 90.5%
	max-width 315px
	margin 0 auto
	border 1px solid 
	@media screen and (max-width 560px)
		display block
@import 'base/4-footer'