#main
	padding 0 0 50px
	min-height calc(100vh - 532px)
	@media screen and (max-width 767px)
		text-align center
	@media screen and (max-width 560px)
		padding 0 0 30px
.circle
	position absolute
	border-radius: 50%
	z-index 0
	&-pink
		background-color: #FEE7E6
	&-bordered
		border: 1px solid #D6D6D6;
.circle-main-1
	width 490px
	height: 490px
	top -100px
	right 0
	@media screen and (max-width 767px)
		width 380px
		height: 380px
		top 50px
		right 50px
	@media screen and (max-width 560px)
		width 200px
		height: 200px
		right -100px
.circle-main-2
	width 162px
	height: 162px
	top 200px
	right -40px
	@media screen and (max-width 560px)
		left -45px
		top auto
		bottom 10%
		width 90px
		height: 90px
.main
	&-title
		font-family: L
		font-size: 28px
		font-weight: normal
		line-height: 140%
		span
			color #C9918F
			display block
		@media screen and (min-width 2295px)
			margin-top: 120px
		@media screen and (max-width 767px)
			font-size: 24px
		@media screen and (max-width 560px)
			font-size: 22px
	&-info
		margin 35px 0
		font-family: L
		font-weight: normal
		span
			font-family: SUD
			font-weight: 300
			color #9C9C9C;
			display block
			margin-top: 5px
			color #C9918F
		@media screen and (max-width 560px)
			font-size: 20px
			margin 20px 0 30px
	&-subtitle
		font-size: 22px
		margin-bottom: 20px
		line-height: 140%
		span
			background-color: #fee7e6
			display inline-block
			padding 0 5px
			border-radius: 5px
		@media screen and (max-width 767px)
			font-size: 20px
		@media screen and (max-width 385px)
			font-size: 17px
			margin-bottom: 15px
	&-text
		margin-bottom: 20px
		span
			&.spam
				background-color: yellow
				display inline-block
				padding 0 5px
				border-radius: 5px
		@media screen and (max-width 385px)
			font-size: 17px
			margin-bottom: 15px