#questions
	padding 70px 0 250px
	background-color:  #FEE7E6;
	@media screen and (max-width 991px)
		padding 70px 0
	@media screen and (max-width 560px)
		padding 60px 0
.questions-img
	position absolute
	right 50px
	bottom -120px
	display block
	width 100%
	max-width 453px
	@media screen and (max-width 991px)
		position: static
		margin 40px auto 0