#plan
	padding 70px 0 150px
	@media screen and (max-width 991px)
		padding 70px 0
	@media screen and (max-width 560px)
		padding 60px 0
.tab-content > .tab-pane
	display: none;
.tab-content > .active
	display: block;
.days-buttons
	li
		list-style: none
		display inline-block
		margin-bottom: 55px
		@media screen and (max-width 560px)
			margin-bottom: 35px
		a
			display block
			width 100%
			height 100%
			color: #C9918F
			font-family: L
			font-size: 48px
			font-weight: normal
			line-height: 120%
			transition: all .3s ease
			@media screen and (max-width 560px)
				font-size: 24px
		&:nth-child(2)
			margin 0 75px 55px
			@media screen and (max-width 991px)
				margin 0 25px 55px
			@media screen and (max-width 560px)
				margin 0 25px 35px
		&:hover a
		&.active a
			text-decoration underline
			color #C9918
.day-bonus
	color: #ADADAD
	&-title
		font-size: 24px
		margin-bottom: 20px
		@media screen and (max-width 560px)
			font-size: 20px
.button-day
	margin-top: 40px
	@media screen and (max-width 560px)
		display none
.days-img
	position absolute
	bottom 50px
	right 100px
	display block
	width 100%
	max-width 362px
	@media screen and (max-width 1199px)
		right: 50px
	@media screen and (max-width 991px)
		position: static
		margin 80px auto 0
	@media screen and (max-width 560px)
		margin 40px auto 0