#usefull
	padding 70px 0 370px
	background-color: #FEE7E6
	@media screen and (max-width 1199px)
		padding 70px 0 200px
	@media screen and (max-width 991px)
		padding 70px 0
	@media screen and (max-width 560px)
		padding 60px 0
.usefull-img
	position absolute
	right 160px
	bottom -240px
	display block
	width 100%
	max-width 319px
	@media screen and (max-width 1199px)
		right: 33px;
		bottom: -160px;
	@media screen and (max-width 991px)
		position: static
		margin 50px auto 0