section#questions
	.container
		+gt('general-title-pink', 'Поработаем над следующими вопросами:')
		.content
			.row
				.col-md-4
					+ai('1', 'Как и где знакомиться с мужчинами')
				.col-md-4
					+ai('2', 'Как оставаться привлекательной на долгие годы')
				.col-md-4
					+ai('3', 'Как понять его истинные намерения')
			.row
				.col-md-4
					+ai('4', 'Как узнать, выйдет ли из мужчины «толк»')
				.col-md-4
					+ai('5', 'Можно ли дворника вдохновить на зарабатывание миллионов')
				.col-md-4
					+ai('6', 'Как перестать стесняться себя и начать общаться с мужчинами')
			.row
				.col-md-4
					+ai('7', 'Как работать с обидами и разочарованием и т.д.')
			+imgs('questions-img', 'img/images/questions.png', 'Картинка блока')