section#questions
	.container
		+gt('', 'Поработаем над следующими вопросами:')
		.content
			.row
				.col-md-4
					+ai('1', 'Как ещё в детстве возможно определить, какая судьба ждёт ребёнка в сфере отношений. Разбираем психотипы детей')
				.col-md-4
					+ai('2', 'По каким принципам мы выбираем партнера. Почему одним везёт в отношениях, другие с этим вопросом разбираются всю жизнь')
				.col-md-4
					+ai('3', 'Как закладывается программа построения отношений, переданная нам по наследству от рода')
			.row
				.col-md-4
					+ai('4', 'Кто «виноват» в нашем несчастье? Ищем ключевую проблему в сфере отношений')
				.col-md-4
					+ai('5', 'Отношения под задачу и по судьбе. Как понять, какие отношения разрывать, а какие стоит сохранять. Как узнать, что нас ждёт с этим партнёром в дальнейшем')
				.col-md-4
					+ai('6', 'Чему нас учат партнёры. Учимся извлекать уроки, чтобы не перекладывать их на своих детей и собственные последующие отношения')
			.row
				.col-md-4
					+ai('7', 'Как работать с обидами, разочарованиями и нескончаемыми претензиями к партнёру')
			+imgs('questions-img', 'img/images/questions.png', 'Картинка блока')