section#for
	.container
		+gt('', 'Данный мастер-класс необходим:')
		.content
			.row
				.col-md-6
					ul.general-list-ul
						li Тем, у кого существуют какие-либо проблемы, трудности, непонимание в сфере отношений
				.col-md-6
					ul.general-list-ul
						li Специалистам,  которые работают с данной темой и хотят эффективно помогать своим клиентам
			.row
				.col-md-6
					ul.general-list-ul
						li Тем, кто хотел бы разобраться со своими проблемами в любом контексте:
						ul.general-sublist-ul
							li Разводиться или сохранять отношения?
							li Что необходимо от женщины, чтобы мужчина взял на себя ответственность и начал зарабатывать?
							li Как расти вместе?
							li Как вернуть его в семью?
							li Как познакомиться?
							li Как сделать так, чтобы он захотел оформить отношения?
							li Как сделать так, чтобы он …
					+b('button-up button-for', href, 'Мне это необходимо')
			+imgs('for-img', 'img/images/for.png', 'Картинка блока')