section#plan
	.container
		h3.pre-title Программа мастер-класса
		.days
			ul.nav.nav-tabs.days-buttons#days(role="tablist")
				li(role="presentation").active
					a(href="#day-1" aria-controls="day-1" role="tab" data-toggle="tab") 1 день
				li(role="presentation")
					a(href="#day-2" aria-controls="day-2" role="tab" data-toggle="tab") 2 день
			.tab-content.days-container
				.tab-pane.fade.in.day-body.active(role="tabpanel")#day-1
					.row
						.col-md-6
							ul.general-list-ul.general-list-ul-min
								li Изучаем пошаговую систему построения отношений - ФОСО (флирт, общение, секс, отношения)
						.col-md-6
							ul.general-list-ul.general-list-ul-min
								li Как на каждой стадии закладывается формула успешных, либо провальных отношений
					.row
						.col-md-6
							ul.general-list-ul.general-list-ul-min
								li Совместимость партнеров. Партнеры по судьбе, партнеры под задачу. Как узнать под какую именно задачу притянулся партнер? И сколько данные отношения продлятся?
						.col-md-6
							ul.general-list-ul.general-list-ul-min
								li С чего начинать работать по запросу отношений. Разбираем пошаговую инструкцию, как работать с отношениями. С чего начинать и какие этапы необходимо проходить для максимально эффективной проработки данной темы
					.row
						.col-md-6
							ul.general-list-ul.general-list-ul-min
								li Разбираем женские типажи. Учимся распознавать свой психотип
							.day-bonus
								h5.day-bonus-title +Бонус
								p.general-text Разбираемся с темой отношений через вопросы-ответы. Каждая участница может задать свой вопрос, который я разберу в прямом эфире
								p.general-text Демо-сессия по запросам участниц.  Некоторые участницы смогут выйти в прямой эфир для проработки своего запроса по отношениям
					+b('button-up button-day', href, 'Записаться на мастер-класс')
				.tab-pane.fade.day-body(role="tabpanel")#day-2
					.row
						.col-md-6
							ul.general-list-ul.general-list-ul-min
								li Игры, в которые играют пары. Разбираем психологические игры партнеров. С чего начинаются игры, чем заканчиваются. Опасность игр! Внимание, эту информацию необходимо знать каждой женщине!
						.col-md-6
							ul.general-list-ul.general-list-ul-min
								li Абьюз. Манипуляции. Нарциссы. Психовампиры. Разбираем психотравмы мужчин, которые «лечатся» через своих женщин. Чем опасно подобное лечение. Заболевания, как следствие данных игрищ. Что необходимо знать, чтобы не вовлечься в нездоровый симбиоз
					.row
						.col-md-6
							ul.general-list-ul.general-list-ul-min
								li Техника по завершению прошлых связей, в которые продолжает уходить наша энергия, даже если мы об этом не подозреваем. Прошлые, незавершенные в голове и душе отношения, как способ «потерять» часть себя. Техника по возвращению потерянной части
						.col-md-6
							ul.general-list-ul.general-list-ul-min
								li Разбираем мужские типажи. Учимся типировать своих и окружающих нас мужчин
							.day-bonus
								h5.day-bonus-title +Бонус
								p.general-text Разбираемся с темой отношений через вопросы-ответы. Каждая участница может задать свой вопрос, который я разберу в прямом эфире
								p.general-text Демо-сессия по запросам участниц.  Некоторые участницы смогут выйти в прямой эфир для проработки своего запроса по отношениям
							+b('button-up button-day', href, 'Записаться на мастер-класс')
					//- .row
						//- .col-md-6
							//- ul.general-list-ul.general-list-ul-min
							//- 	li Разбираем женские типажи. Учимся распознавать свой психотип
			+imgs('days-img', 'img/images/plan.png', 'Картина блока')