section#usefull
	.container
		+gt('general-title-pink', 'Польза от участия в мастер-классе:')
		.content
			.row
				.col-md-6
					+ai('1', 'Узнаете, как формируются отношения. Познакомитесь с формулой, по которой отношения строятся')
				.col-md-6
					+ai('2', 'Поймете, почему именно «эти» мужчины приходят в вашу жизнь')
			.row
				.col-md-6
					+ai('3', 'Разберетесь с тем, какие задачи в сфере отношений передаются нам по наследству')
				.col-md-6
					+ai('4', 'Узнаете, почему женщина «обречена» в привлечении того партнера, через которого она станет исцелять свои родовые травмы')
			.row
				.col-md-6
					+ai('5', 'Поймете, чем кардинально отличается мужская психология от женской')
				.col-md-6
					+ai('6', 'Осознаете, что конкретно необходимо корректировать в сфере отношений, чтобы отношения пошли в рост, а не застревали на одном месте')
			.row
				.col-md-6
					+ai('7', 'Поговорим о любовном треугольнике: в чем любовница выгодна для жены. Что это за психотип «любовница», и почему любовнице сложно выйти из отношений с женатыми мужчинами')
					+ai('8', 'Узнаете, как с первого свидания распознать «своего» мужчину и с каким лучше не связываться')
			.row
				.col-md-6
					+ai('9', 'Поймете, когда мужчина манипулирует, а когда действует просто по незнанию как правильно')
					+ai('10', 'Сможете поучаствовать в разборе в прямом эфире своего запроса по теме отношений')
			.row
				.col-md-6
					+ai('11', 'Узнаете, с чего должен начинать каждый специалист для проработки отношений')
					+ai('12', 'Получите пошаговое руководство, по которому сможете работать в сфере отношений с собой и своими клиентами')
			.row
				.col-md-6
					+ai('13', 'Получите техники, которые работают с запросами отношений')
			+imgs('usefull-img', 'img/images/usefull.png', 'Картинка блока')