h1.main-title Благодарим Вас за регистрацию на:
	span Мастер-класс «Системно-родовой подход к построению отношений»
p.main-info Преподаватель: 
	span Жанна Абрамова
p.main-subtitle Мастер-класс стартует 
	span 10 августа в 19-00 Мск
	| . 
	br
	| Напоминание о начале придет на емейл, указанный Вами при регистрации на данный мастер-класс
	br
	| Следите за почтой!
p.main-text Обратите внимание, если вы не увидели во входящих сообщениях письмо благодарность, то обязательно проверьте вкладку 
	span.spam спам
	|, либо 
	span.spam промоакции