section#themes
	.container
		+gt('', 'На данном курсе мы разберем следующие темы:')
		.content
			.row
				.col-md-4
					ul.general-list-ul.general-list-ul-min
						li Мужские типажи
				.col-md-4
					ul.general-list-ul.general-list-ul-min
						li Знакомство и первое общение
				.col-md-4
					ul.general-list-ul.general-list-ul-min
						li Флирт. Система ФОСО
			.row
				.col-md-4
					ul.general-list-ul.general-list-ul-min
						li Свидание
				.col-md-4
					ul.general-list-ul.general-list-ul-min
						li «Кодекс» взаимодействия/общения с мужчинами
				.col-md-4
					ul.general-list-ul.general-list-ul-min
						li Мужчины-«обещалки»
			.row
				.col-md-4
					ul.general-list-ul.general-list-ul-min
						li Горький опыт ошибок в отношениях
				.col-md-4
					ul.general-list-ul.general-list-ul-min
						li О типажном сексе
				.col-md-4
					ul.general-list-ul.general-list-ul-min
						li Что мешает выйти замуж и жить счастливо
			.row
				.col-md-4
					ul.general-list-ul.general-list-ul-min
						li «Подводные рифы» совместных отношений
				.col-md-4
					ul.general-list-ul.general-list-ul-min
						li Кризис не приговор, а начало обновления
				.col-md-4
					ul.general-list-ul.general-list-ul-min
						li Искусство делать и принимать подарки
			.row
				.col-md-4
					ul.general-list-ul.general-list-ul-min
						li Система Я+
				.col-md-4
					ul.general-list-ul.general-list-ul-min
						li Система Я+ОН
				.col-md-4
					ul.general-list-ul.general-list-ul-min
						li Система «Бумеранг»
			.row
				.col-md-4
					ul.general-list-ul.general-list-ul-min
						li Система Я+ОНИ
				.col-md-4
					ul.general-list-ul.general-list-ul-min
						li Система «Управление реальностью»
				.col-md-4
					ul.general-list-ul.general-list-ul-min
						li Перезагрузка сценариев прошлого
			+imgs('themes-img', 'img/images/questions.png', 'Картинка блока')