section#about
	.container
		+gt('', 'Данный курс расскажет вам о том, как:')
		.content
			.row
				.col-md-6
					+ai('1' ,'С первых слов распознавать истинные намерения мужчины')
				.col-md-6
					+ai('2' ,'Как распознать «своего» мужчину и с каким мужчиной лучше не связываться')
			.row
				.col-md-6
					+ai('3' ,'Понять, стоит ли тратить время и ожидания в отношении того или иного мужчины, или лучше сразу «делать ноги»')
				.col-md-6
					+ai('4' ,'Узнать какими «приемами» можно быстро развернуть к себе мужчину')
			.row
				.col-md-6
					+ai('5' ,'Видеть, когда мужчина манипулирует, а когда действует просто по незнанию как правильно')
				.col-md-6
					+ai('6' ,'Уметь слышать скрытые посылы мужчин')
			.row
				.col-md-6
					+ai('7' ,'Быть любимой, единственной, важной своему мужчине')
				.col-md-6
					+ai('8' ,'Быть женщиной, которую мужчина уважает и с которой считается')
			.row
				.col-md-6
					+ai('9' ,'Узнать необходимые правила первого свидания, чтобы мужчина «не сливался»')
			.row
				.col-md-6
					+ai('10' ,'Что важно делать, чтобы отношения укреплялись, а не разрушались')
			.row
				.col-md-6
					+ai('11' ,'Узнать под какую жизненную задачу приходили к вам мужчины и какие уроки необходимо было пройти')
			+b('button-about', href, 'Иду на курс!')
		+imgs('about-img', 'img/images/usefull.png', 'Картинка блока')