section#plan
	.container
		+gt('', 'План курса:')
		.content
			.row
				.col-md-6
					+ai('1' ,'Мужские/женские типажи. Изучаем свою и ЕГО типажность')
				.col-md-6
					+ai('2' ,'Особенности мужских типажей. Разбираем подход к каждому психотипу')
			.row
				.col-md-6
					+ai('3' ,'Система Ф.О.С.О. «Кодекс» взаимодействия и построения отношений с мужчинами')
				.col-md-6
					+ai('4' ,'Формула претензий. Почему у женщин возникает к мужчинам ряд претензий, и что делать с неудовлетворенностью от мужчин. Работаем с обидами, разочарованием, незавершенными чувствами')
			.row
				.col-md-6
					+ai('5' ,'Родовые сценарии, влияющие на нашу судьбу. Работаем с родовыми программами по завершению наследственных задач, блокирующих женское счастье')
				.col-md-6
					+ai('6' ,'Родовые программы одиночества (не замужняя, разведенная, одинокая, старая дева, вдова). Учимся работать с родовыми программами, доставшимися по наследству от женщин рода')
			.row
				.col-md-6
					+ai('7' ,'Работа с деструктивными программами прошлого опыта в отношениях. Восстановление потерянного баланса (воронки, откаты, саботаж, депрессии, апатия, женские заболевания и т.д.)')
				.col-md-6
					+ai('8' ,'Работа с самоидентичностью в отношениях. Работа по системе Я+. Искаженная идентичность. Самообесценивание')
			.row
				.col-md-6
					+ai('9' ,'Абьюз. Манипуляции. Игры. Разбираем сценарий игр, через которые мы взаимодействуем с партнерами')
				.col-md-6
					+ai('10' ,'Мужчина в кризисе. Разбираем способы «вывода» партнера из кризиса')
			.row
				.col-md-6
					+ai('11' ,'Деньги в паре. Работаем с темой финансов')
				.col-md-6
					+ai('12' ,'Система Антинищета. Работаем с запретами и блоками на получение ресурсов и благ от других людей, партнеров. Работаем с самообесцениванием и личными границами')
			.row
				.col-md-6
					+ai('13' ,'Манифестация партнера, финансов, ресурсов по запросу. Учимся договариваться с эгрегором судьбы')
					+ai('14' ,'Управление собственной реальностью по методу квантовой перезагрузки. Формируем сосбвенную реальность, без нужды допроживать чужой опыт')
					+ai('15' ,'Техники регресса по поиску и завершению контрактов опыта Души')
			+b('button-about', href, 'Иду на курс!')
		+imgs('plan-img', 'img/images/usefull.png', 'Картинка блока')