section#about
	.container
		+gt('', 'Данный курс расскажет вам о том, как:')
		.content
			.row
				.col-md-6
					ul.general-list-ul.general-list-ul-3
						li С первых слов распознавать истинные намерения мужчины
				.col-md-6
					ul.general-list-ul.general-list-ul-3
						li Как распознать «своего» мужчину и с каким мужчиной лучше не связываться
			.row
				.col-md-6
					ul.general-list-ul.general-list-ul-3
						li Понять, стоит ли тратить время и ожидания в отношении того или иного мужчины, или лучше сразу «делать ноги»
				.col-md-6
					ul.general-list-ul.general-list-ul-3
						li Узнать какими «приемами» можно быстро развернуть к себе мужчину
			.row
				.col-md-6
					ul.general-list-ul.general-list-ul-3
						li Видеть, когда мужчина манипулирует, а когда действует просто по незнанию как правильно
				.col-md-6
					ul.general-list-ul.general-list-ul-3
						li Уметь слышать скрытые посылы мужчин
			.row
				.col-md-6
					ul.general-list-ul.general-list-ul-3
						li Быть любимой, единственной, важной своему мужчине
				.col-md-6
					ul.general-list-ul.general-list-ul-3
						li Быть женщиной, которую мужчина уважает и с которой считается
			.row
				.col-md-6
					ul.general-list-ul.general-list-ul-3
						li Узнать необходимые правила первого свидания, чтобы мужчина «не сливался»
			.row
				.col-md-6
					ul.general-list-ul.general-list-ul-3
						li Что важно делать, чтобы отношения укреплялись, а не разрушались
			.row
				.col-md-6
					ul.general-list-ul.general-list-ul-3
						li Узнать под какую жизненную задачу приходили к вам мужчины и какие уроки необходимо было пройти
		+imgs('about-img', 'img/images/plan.png', 'Картинка блока')